* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  border: none;
  outline: none;
  user-select: none;
}
body {
  font-family: "Roboto";
  overflow: hidden;
}
.slide-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: translateX(0);
}
.slide {
  width: 100vw;
  height: 100vh;
  padding: 1rem 2rem;
  display: flex;
  cursor: grab;
}
.slide img {
  height: 95vh;
  user-select: none;
}
.slide p {
  font-size: 7rem;
  font-weight: 500;
  margin-top: -6.8rem;
  margin-left: 0.25rem;
  color: white;
  text-transform: capitalize;
}
.slide-inner {
  width: fit-content;
  margin: 0 auto;
}
.grabbing {
  cursor: grabbing;
}
